<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <h1 class="h3 mb-3 font-weight-normal">Bitte anmelden</h1>

    <div *ngIf=invalidLogin
        class="alert alert-danger">
        Unbekannter Benutzer oder falsches Passwort
    </div>
    
    <label for="inputEmail" class="sr-only">E-Mail Adresse</label>
    <input required ngModel
        name="email"
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="E-Mail Adresse">
    
    <label for="inputPassword" class="sr-only">Passwort</label>
    <input required ngModel
        name="inputPassword"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Passwort">
    
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>

    <p class="mt-5 mb-3 text-muted">&copy; Lernplattform 2021</p>
</form>